.btn {
    $this: &;
  
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  
    font-family: inherit;
    font-weight: 700;
  
    height: 30px;
    font-size: 12px;
    padding: 0 16px;
  
    border-radius: 5px;
  
    color: $white;
    fill: $white;
    background: $blue;
    border: 0;
  
    &:disabled,
    &_disabled {
      cursor: default;
      opacity: 0.4;
    }
  
    &:after {
      opacity: 0;
      background-color: $white;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.2s ease-out 0s;
      -webkit-transition: all 0.2s ease-out 0s;
    }

    &:hover:not(:disabled):not(&_disabled):after {
        opacity: 0.15;
    }
  
  }
  