.square {
    aspect-ratio: 1;
    display: block;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.rounded {
    border-radius: 6px;
}

.card {
    @include card;
}

.nowrap {
    @include nowrap;
}

.post {
    @include card;
    max-width: 240px;
    font-weight: 700;
    display: block;

    &__img {
        margin-bottom: 10px;
        border-radius: 6px;
    }
    
    &__title {
        @include nowrap;
    }

    &__info {
        font-size: 10px;
        span {
            font-weight: 400;
        }
    }
}

.gridview {
    .grid {
        display: grid;
        gap: 20px 20px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

        @media screen and (max-width: 880px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
        @media screen and (max-width: 640px) {
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        }
    }

    .tableview__head {
        display: none;
    }
}

.tableview {
    .grid {
        display: grid;
        gap: 10px 0px;
        grid-template-columns: 1fr;
    }

    &__head {
        display: grid;
        grid-template-columns: 35% 1fr;
        font-weight: bold;
        font-size: 10px;
        padding: 15px 10px;
        border-bottom: 1px solid $white;
        margin-bottom: 10px;
    }

    & &__item {
        display: grid;
        grid-template-columns: 35% 1fr;
        font-size: 12px;
    }

    & &__columns {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        text-align: right;

        > div {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }

    & &__column-main {
        display: flex;
        align-items: center;
    }

    .post {
        max-width: none;
        font-weight: 400;

        &__img {
            width: 40px;
            min-width: 40px;
            height: 40px;
            margin: 0 10px 0 0;
        }

        &__title {
            flex: auto;
        }

        &__info {
            font-size: inherit;
            span {
                display: none;
            }
        }
    }
}
